@model IEnumerable<FosterCare.ChildIndividualTbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <h1>All Child Individual<small>(Add, View, Edit, Delete Child Individual)</small></h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12 mb5">
            <a href="/Admin/ChildIndividual/Create/" class="btn btn-dropbox">Add New Child Individual</a>
        </div>
        <div class="col-md-12">
            @if (TempData["FailMessage"] != null)
            {
                <div id="fail-alert" class="alert alert-danger text-center">@TempData["FailMessage"]</div>
            }
            @if (TempData["SuccessMessage"] != null)
            {
                <div id="success-alert" class="alert alert-success text-center">@TempData["SuccessMessage"]</div>
            }
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">All Child Individual</h3>
                </div>
                <div class="box-body">
                    @if (Model.Count() > 0)
                    {
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <tr>

                                    <th>
                                        Child Image
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Age
                                    </th>
                                    <th>
                                        Gender
                                    </th>
                                    <th>
                                        Phone Number
                                    </th>
                                   
                                    <th>
                                        Child Name
                                    </th>
                                    <th>
                                        Child Age
                                    </th>
                                    <th>
                                        Child Gender
                                    </th>
                                 
                                    <th>
                                        Create Date
                                    </th>
                                    <th>
                                        Modified Date
                                    </th>
                                    
                                    <th>
                                        Action
                                    </th>
                                </tr>

                                @foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    <a href="@item.ChildImage" target="_blank">
                                        <img style="width:100px" class="img-thumbnail" src="@item.ChildImage" />
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Age)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChildName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChildAge)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChildGender)
                                </td>
                           
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ModifieddDate)
                                </td>
                         
                                <td>
                                    <a class="btn btn-xs btn-warning" href="/admin/ChildIndividual/Edit/@item.Id">Edit <i class="fa fa-edit"></i></a>
                                    <a data-toggle="modal" data-target="#modal-delete-@item.Id" class="btn btn-xs btn-danger">Delete <i class="fa fa-trash-o"></i></a>
                                    <div class="modal fade text-center" id="modal-delete-@item.Id">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h4 class="modal-title">Child Individual item  Delete Confirmation</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>Are you Sure you want to delete Child Individual item</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                                                    <a class="btn btn-danger pull-right" href="@Url.Action("Delete", "ChildIndividual", new { id = item.Id })">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a data-toggle="modal" data-target="#modal-details-@item.Id" class="btn btn-xs btn-twitter">Details <i class="fa fa-list"></i></a>
                                    <div class="modal fade text-center" id="modal-details-@item.Id">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h3 class="modal-title">Child Individual Details</h3>
                                                </div>
                                                <div class="modal-body" style="height: 500px; overflow-y: scroll">
                                                    <table class="table table-bordered" style="text-align:left;">
                                                        <tr>
                                                            <td>
                                                                Email
                                                            </td>
                                                            <td>
                                                                @item.Email
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                State Name
                                                            </td>
                                                            <td>
                                                                @item.StateMasterTbl.StateName
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                District Name
                                                            </td>
                                                            <td>
                                                                @item.DistrictMasterTbl.DistrictName
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Tehsil Name
                                                            </td>
                                                            <td>
                                                                @item.TehsilMasterTbl.TehsilName
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Father Name
                                                            </td>
                                                            <td>
                                                                @item.FatherName
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Email
                                                            </td>
                                                            <td>
                                                                @item.MotherName
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Social Category
                                                            </td>
                                                            <td>
                                                                @item.SocialCategory
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Child State Name
                                                            </td>
                                                            <td>
                                                                @item.StateMasterTbl1.StateName
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Child District Name
                                                            </td>
                                                            <td>
                                                                @item.DistrictMasterTbl1.DistrictName
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Child Tehsil Name
                                                            </td>
                                                            <td>
                                                                @item.TehsilMasterTbl1.TehsilName
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Other illness
                                                            </td>
                                                            <td>
                                                                @item.Otherillness
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Child Category
                                                            </td>
                                                            <td>
                                                                @item.ChildCategoryTbl.ChildCategory
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                                }

                            </table>
                        </div>
                    }
                    else
                    {
                        <h3 class="box-title">Record Not Found</h3>
                    }

                </div>
            </div>
        </div>
    </div>

</section>