@model IEnumerable<FosterCare.TehsilMasterTbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <h1>All Tehsil Master<small>(Add, View, Edit, Delete Tehsil Master)</small></h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12 mb5">
            <a href="/Admin/TehsilMaster/Create/" class="btn btn-dropbox">Add New Tehsil Master</a>
        </div>
        <div class="col-md-12">
            @if (TempData["FailMessage"] != null)
            {
                <div id="fail-alert" class="alert alert-danger text-center">@TempData["FailMessage"]</div>
            }
            @if (TempData["SuccessMessage"] != null)
            {
                <div id="success-alert" class="alert alert-success text-center">@TempData["SuccessMessage"]</div>
            }
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">All Tehsil Master</h3>
                </div>
                <div class="box-body">
                    @if (Model.Count() > 0)
                    {
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <th>
                                      State Name
                                    </th>
                                    <th>
                                        District Name
                                    </th>

                                    <th>
                                       Tehsil Name
                                    </th>
                                    <th>
                                       Create Date
                                    </th>
                                    <th>
                                        Modified Date
                                    </th>

                                    <th>
                                        Action
                                    </th>
                                </tr>

                                @foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.StateMasterTbl.StateName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.DistrictMasterTbl.DistrictName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.TehsilName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                                </td>


                                <td>
                                    <a class="btn btn-xs btn-warning" href="/admin/TehsilMaster/Edit/@item.ID">Edit <i class="fa fa-edit"></i></a>
                                    <a data-toggle="modal" data-target="#modal-delete-@item.ID" class="btn btn-xs btn-danger">Delete <i class="fa fa-trash-o"></i></a>
                                    <div class="modal fade text-center" id="modal-delete-@item.ID">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h4 class="modal-title">Tehsil Master item  Delete Confirmation</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>Are you Sure you want to delete Tehsil Master item</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                                                    <a class="btn btn-danger pull-right" href="@Url.Action("Delete", "TehsilMaster", new { id = item.ID })">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                                }

                            </table>
                        </div>
                    }
                    else
                    {
                        <h3 class="box-title">Record Not Found</h3>
                    }

                </div>
            </div>
        </div>
    </div>

</section>